body {
  /* Grey Background so that white stripe doesn't bleed into background  */
  background: #ccc;
}
 
.container {
/* Make Flag at the center of the container  */
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
/* Stripe  */
.stripe {
  width: 225px;
  height: 50px;
}
/* Saffron Stripe  */
#saffron {
  background: #FF9933;
}
/* White Stripe */
#white {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Green Stripe  */
#green {
  background: #138808;
}
/* Ashoka Chakra Image */
.ashok_chakra {
  height: 50px;
  width: 50px;
}
/* Patriotic Message */
.message {
  text-align: center;
}
/* Color of INDIA */
.message span{
  /* Navy Blue of Ashoka Chakra */
  color: #000080;
}